*{
  margin: 0px;
  padding: 0px;

}
body{
  text-align: center;
  background-color: black;
}
.container{
  height:60vh;
  display: flex;
  justify-content: center;
  align-content: center;
}
.game{
  width: 60vmin;
  height: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
   gap:1.5vmin;

} 
h1{
  color:white;
}
.button{
  width:18vmin;
  height:18vmin;
  background-color:#ffd60a;
  border-radius:10px;
}
.new-game{
  height:60px;
  display:flex;
  justify-content: center;
  align-content: center;
}
.button-1{
  width:15vmin;
  height: 7vmin;
  color:red;
  background-color:#00bbf9;
  font-size: 3vmin;
  border-radius: 10px;
}
.winner{
  width:15vmin;
  height: 17vmin;
 
  font-size: 3vmin;
}
#msg{
 color:#e1eff6;
 font-size: 8vmin;


}
.reset{
  height:5px;
  display:flex;
  justify-content: center;

}
.button-end{
  width:15vmin;
  height: 4vmin;
  background-color:#9ec1a3;
  color:#009fb7;
 }
.hide{
  display:none;
}

